@import '../variables';
@import '../starability-base';
@import '../starability-result';

@keyframes checkmark {

  0% {
    transform: translateX(-0.5 * $star-size);
  }

  60% {
    opacity: 1;
  }

  70% {
    transform: none;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.starability-checkmark {
  @include starability-base();

  > label {
    position: static;
    z-index: 2;
  }

  > label:before {
    @include starability-animation-base();
    background-image: $img-checkmark;
    right: -$star-size;

    @media screen and (min-resolution: 192dpi) {
      background-image: $img-checkmark-2x;
      background-size: $star-size auto;
    }
  }

  > input:checked + label:before {
    display: block;
    animation-name: checkmark;
    animation-duration: .7s;
    animation-fill-mode: forwards;
  }
}