@import '../variables';
@import '../starability-base';

@keyframes grow {

  0% {
    transform: scale(1,1);
  }

  99% {
    transform: scale(4,4);
    opacity: 0;
  }

  100% {
    transform: scale(1,1);
    opacity: 0;
  }
}

.starability-grow {
  @include starability-base;

  > label:before {
    @include starability-animation-base;
    bottom: 0;
  }

  > input:checked + label:before {
    background-position: 0 (-$star-size);
    display: block;
    animation-duration: 1s;
    animation-name: grow;
    animation-fill-mode: forwards;
  }
}