@import '../variables';
@import '../starability-base';
@import '../starability-result';

@keyframes heart {

  0% {
    transform: translateY(.5*$star-size);
  }

  30% {
    transform: translateY(0);
    opacity: .7;
  }

  45% {
    transform: translateY(0);
    transform: scale(1.1, 1.1);
  }

  50% {
    transform: scale(0.9, 0.9);
  }

  80% {
    opacity: .9;
  }

  100% {
    opacity: 0;
  }
}

.starability-heart {
  @include starability-base;

  > label::after {
    @include starability-animation-base($img-heart, $img-heart-2x);
    transform: scale(0, 0);
    bottom: $star-size;
  }

  > input:checked + label::after {
    display: block;
    animation-name: heart;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}