$footer-height: 6rem;

$main-color: #27ae60;
$main-color-active: lighten($main-color, 10);

* {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0 0 $footer-height;
  background-color: white;
  overflow-x: hidden;
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
  font-weight: normal;
  color: #666;
}

h1, h2 {
  text-align: center;
}

h1 {
  color: $main-color;
}

a {
  color: $main-color;

  &:hover,
  &:visited,
  &:focus {
    color: $main-color-active;
  }
}

main {
  margin-top: 3rem;
}

form {
  margin: 0 auto 3rem;

  &:first-of-type {
    margin-top: 3rem;
  }
}

fieldset {
  margin: 0 auto;
}

legend {
  margin-bottom: 0.5rem;
}

footer {
  position: absolute;
  height: $footer-height;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 0 2em;
  text-align: center;
}
