$star-count: 5;
$star-size: 30px;

$image-directory-path: '../starability-images';

// if true there is an underline below active star
$accessible-highlight: true;

// if true, stars are highlighted on hover (causes website repaints)
$hover-enabled: true;
