$star-count: 5 !default;
$star-size: 30px !default;

$image-directory-path: '../starability-images' !default;

// if true there is an underline below active star
$accessible-highlight: true !default;

// if true, stars are highlighted on hover (causes website repaints)
$hover-enabled: true !default;
